* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.cardHome {
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.card__title{
font-size: 1.5rem;
font-weight: 700;
}
.card{
min-width: 300px;
min-height: 400px;
border: 5px solid rgb(100, 53, 53);
padding: 20px 10px;
border-radius: 10px;
margin: 10px;
display:flex;
align-items: center;
flex-direction: column;
}
.item{
  width: 100%;
  border-radius: 7px;
  border: 2px solid rgb(2, 184, 78);
  padding: 10px;
  margin: 5px 0;;
  cursor: grab;
  background-color: #f8f8f4;
}